/dist
/tmp
/bin
/node_modules
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.log
.DS_Store
Thumbs.db
ch03/alwanes/node_modules
ch03/newwebs/node_modules
ch03/xweb/node_modules
ch04/node_modules
ch06/node_modules
ch08/node_modules
ch09/node_modules
ch10/node_modules
ch11/node_modules
ch11/myweb/node_modules
ch12/node_modules
ch13/node_modules
yoApp/node_modules
cors-tests/node_modules
*.zip
restApp/node_modules
*-lock.json
quad.js
trips.js
